<a href="https://colab.research.google.com/github/euleralencar/colab_r/blob/main/R_dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Usando R com dplyr

Fonte: https://dplyr.tidyverse.org/articles/dplyr.html

Fonte: https://dplyr.tidyverse.org/reference/index.html

Fonte: https://github.com/rstudio/cheatsheets/blob/master/data-transformation.pdf

Fonte2: https://swapi.dev/

Importando os dados pelo dplyr

In [ ]:
library(dplyr)
# head(starwars, n=3)
starwars <- dplyr::starwars
dim(starwars)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

[1] 87 14

### Verbos de tabelas

**dplyr** nos dá funções para cada ver de manipulação de dados. Esses varbos podem ser organizados em 3 categorias baseados em componentes do dataset que trabalha com:

**Rows:**
* filter() chooses rows based on column values.
* slice() chooses rows based on location.
* arrange() changes the order of the rows.

**Columns:**
* select() changes whether or not a column is included.
* rename() changes the name of columns.
* mutate() changes the values of columns and creates new columns.
* relocate() changes the order of the columns.

**Groups of rows:**
* summarise() collapses a group into a single row.

### Rows

#### Filter: filtrando valores das colunas

In [ ]:
# Essa função a virgula funciona como "E"
head(starwars %>% filter(skin_color == "light", eye_color == "brown"), n=3)

  name              height mass hair_color skin_color eye_color birth_year
1 Leia Organa       150    49   brown      light      brown     19
2 Biggs Darklighter 183    84   black      light      brown     24
3 Cordé             157    NA   brown      light      brown     NA
  sex    gender    homeworld species
1 female feminine  Alderaan  Human
2 male   masculine Tatooine  Human
3 female feminine  Naboo     Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 A New Hope
3 Attack of the Clones
  vehicles              starships
1 Imperial Speeder Bike
2                       X-wing
3

#### Arrange: ordenar os dados

In [ ]:
# Para ordenar dados
head(starwars %>% arrange(height, mass), n=4)

  name                  height mass hair_color skin_color eye_color birth_year
1 Yoda                  66     17   white      green      brown     896
2 Ratts Tyerell         79     15   none       grey, blue unknown    NA
3 Wicket Systri Warrick 88     20   brown      brown      brown       8
4 Dud Bolt              94     45   none       blue, grey yellow     NA
  sex  gender    homeworld   species
1 male masculine NA          Yoda's species
2 male masculine Aleen Minor Aleena
3 male masculine Endor       Ewok
4 male masculine Vulpter     Vulptereen
  films
1 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi
2 The Phantom Menace
3 Return of the Jedi
4 The Phantom Menace
  vehicles starships
1
2
3
4

In [ ]:
# Para ordenar de forma descendente
head(starwars %>% arrange(desc(height)),4)

  name        height mass hair_color skin_color eye_color birth_year sex
1 Yarael Poof 264     NA  none       white      yellow     NA        male
2 Tarfful     234    136  brown      brown      blue       NA        male
3 Lama Su     229     88  none       grey       black      NA        male
4 Chewbacca   228    112  brown      unknown    blue      200        male
  gender    homeworld species
1 masculine Quermia   Quermian
2 masculine Kashyyyk  Wookiee
3 masculine Kamino    Kaminoan
4 masculine Kashyyyk  Wookiee
  films
1 The Phantom Menace
2 Revenge of the Sith
3 Attack of the Clones
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
  vehicles starships
1
2
3
4 AT-ST    Millennium Falcon, Imperial shuttle

#### Slice: selecionando algumas linhas específicas

In [ ]:
# Para selecionar uma quantidade X de linhas
starwars %>% slice(5:9)

  name               height mass hair_color  skin_color eye_color birth_year
1 Leia Organa        150     49  brown       light      brown     19
2 Owen Lars          178    120  brown, grey light      blue      52
3 Beru Whitesun lars 165     75  brown       light      blue      47
4 R5-D4               97     32  NA          white, red red       NA
5 Biggs Darklighter  183     84  black       light      brown     24
  sex    gender    homeworld species
1 female feminine  Alderaan  Human
2 male   masculine Tatooine  Human
3 female feminine  Tatooine  Human
4 none   masculine Tatooine  Droid
5 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 Attack of the Clones, Revenge of the Sith , A New Hope
3 Attack of the Clones, Revenge of the Sith , A New Hope
4 A New Hope
5 A New Hope
  vehicles              starships
1 Imperial Speeder Bike
2
3
4
5                       X-wing

In [ ]:
# Sorteio usando sample
starwars %>% slice_sample(n = 5)

  name               height mass hair_color skin_color       eye_color
1 Beru Whitesun lars 165    75   brown      light            blue
2 R5-D4               97    32   NA         white, red       red
3 Arvel Crynyd        NA    NA   brown      fair             brown
4 Nien Nunb          160    68   none       grey             black
5 Shaak Ti           178    57   none       red, blue, white black
  birth_year sex    gender    homeworld species
1 47         female feminine  Tatooine  Human
2 NA         none   masculine Tatooine  Droid
3 NA         male   masculine NA        Human
4 NA         male   masculine Sullust   Sullustan
5 NA         female feminine  Shili     Togruta
  films                                                            vehicles
1 Attack of the Clones, Revenge of the Sith , A New Hope
2 A New Hope
3 Return of the Jedi
4 Return of the Jedi
5 Attack of the Clones, Revenge of the Sith
  starships
1
2
3 A-wing
4 Millennium Falcon
5

In [ ]:
starwars %>% slice_sample(n = 5) #observe que a tabela é diferente da anterior com o mesmo comando

  name        height mass hair_color  skin_color eye_color birth_year sex
1 Poe Dameron  NA     NA  brown       light      brown       NA       male
2 Eeth Koth   171     NA  black       brown      brown       NA       male
3 Darth Vader 202    136  none        white      yellow    41.9       male
4 Bib Fortuna 180     NA  none        pale       pink        NA       male
5 Owen Lars   178    120  brown, grey light      blue      52.0       male
  gender    homeworld species
1 masculine NA        Human
2 masculine Iridonia  Zabrak
3 masculine Tatooine  Human
4 masculine Ryloth    Twi'lek
5 masculine Tatooine  Human
  films
1 The Force Awakens
2 The Phantom Menace , Revenge of the Sith
3 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
4 Return of the Jedi
5 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles starships
1          T-70 X-wing fighter
2
3          TIE Advanced x1
4
5

#### Combinando: dois pipes ou mais

In [ ]:
# Filtrando os valores NA
starwars %>%
  filter(is.na(height))

  name           height mass hair_color skin_color eye_color birth_year sex
1 Arvel Crynyd   NA     NA   brown      fair       brown     NA         male
2 Finn           NA     NA   black      dark       dark      NA         male
3 Rey            NA     NA   brown      light      hazel     NA         female
4 Poe Dameron    NA     NA   brown      light      brown     NA         male
5 BB8            NA     NA   none       none       black     NA         none
6 Captain Phasma NA     NA   unknown    unknown    unknown   NA         NA
  gender    homeworld species films              vehicles starships
1 masculine NA        Human   Return of the Jedi          A-wing
2 masculine NA        Human   The Force Awakens
3 feminine  NA        Human   The Force Awakens
4 masculine NA        Human   The Force Awakens           T-70 X-wing fighter
5 masculine NA        Droid   The Force Awakens
6 NA        NA        NA      The Force Awakens

In [ ]:
# Combinando funções para pegar os três maiores valores de "height" retirando os valores NA
starwars %>%
  filter(!is.na(height)) %>%
  slice_max(height, n = 3)

  name        height mass hair_color skin_color eye_color birth_year sex
1 Yarael Poof 264     NA  none       white      yellow    NA         male
2 Tarfful     234    136  brown      brown      blue      NA         male
3 Lama Su     229     88  none       grey       black     NA         male
  gender    homeworld species  films                vehicles starships
1 masculine Quermia   Quermian The Phantom Menace
2 masculine Kashyyyk  Wookiee  Revenge of the Sith
3 masculine Kamino    Kaminoan Attack of the Clones

#### Select: selecionando variáveis

In [ ]:
# Selecionar colunas com SELECT
head(starwars %>% select(hair_color, skin_color, eye_color))

  hair_color  skin_color  eye_color
1 blond       fair        blue
2 NA          gold        yellow
3 NA          white, blue red
4 none        white       yellow
5 brown       light       brown
6 brown, grey light       blue

In [ ]:
head(starwars %>% select(hair_color:eye_color)) # segunda forma de fazer

  hair_color  skin_color  eye_color
1 blond       fair        blue
2 NA          gold        yellow
3 NA          white, blue red
4 none        white       yellow
5 brown       light       brown
6 brown, grey light       blue

In [ ]:
head(starwars %>% select(!(hair_color:eye_color))) # retirando a coluna "eyecolor"

  name           height mass birth_year sex    gender    homeworld species
1 Luke Skywalker 172     77   19.0      male   masculine Tatooine  Human
2 C-3PO          167     75  112.0      none   masculine Tatooine  Droid
3 R2-D2           96     32   33.0      none   masculine Naboo     Droid
4 Darth Vader    202    136   41.9      male   masculine Tatooine  Human
5 Leia Organa    150     49   19.0      female feminine  Alderaan  Human
6 Owen Lars      178    120   52.0      male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

In [ ]:
head(starwars %>% select(ends_with("color"))) #selecionar colunas que tem "color" no final

  hair_color  skin_color  eye_color
1 blond       fair        blue
2 NA          gold        yellow
3 NA          white, blue red
4 none        white       yellow
5 brown       light       brown
6 brown, grey light       blue

In [ ]:
# Pode renomear uma variável com o argumento de select(). O primeiro argumento é o novo nome e o segundo é o nome antigo.

head(starwars %>% select(home_world = homeworld))

  home_world
1 Tatooine
2 Tatooine
3 Naboo
4 Tatooine
5 Alderaan
6 Tatooine

O uso de select() drops todas as variáveis não explicitadas na função, por isso não é tão útil. No lugar, podemos usar rename().

#### Rename: renomear o nome das variáveis

In [ ]:
head(starwars %>% rename(home_world = homeworld))

  name           height mass hair_color  skin_color  eye_color birth_year
1 Luke Skywalker 172     77  blond       fair        blue       19.0
2 C-3PO          167     75  NA          gold        yellow    112.0
3 R2-D2           96     32  NA          white, blue red        33.0
4 Darth Vader    202    136  none        white       yellow     41.9
5 Leia Organa    150     49  brown       light       brown      19.0
6 Owen Lars      178    120  brown, grey light       blue       52.0
  sex    gender    home_world species
1 male   masculine Tatooine   Human
2 none   masculine Tatooine   Droid
3 none   masculine Naboo      Droid
4 male   masculine Tatooine   Human
5 female feminine  Alderaan   Human
6 male   masculine Tatooine   Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

#### Mutate: criando novas colunas

In [ ]:
head(starwars %>% mutate(height_m = height / 100), n=3)

Usando mutate a tabela vai para o final. Por isso, usamos select everythin após para colocar na primeira coluna e enviar para o final.

In [ ]:
  head(starwars %>%
      mutate(height_m = height / 100) %>%
        select(height_m, height, everything()), n=3)

In [ ]:
# Se eu quiser manter apenas a nova variável então usar transmute():

head(
  starwars %>%
    transmute(
      height_m = height / 100,
      BMI = mass / (height_m^2)
           )
    )

  height_m BMI
1 1.72     26.02758
2 1.67     26.89232
3 0.96     34.72222
4 2.02     33.33007
5 1.50     21.77778
6 1.78     37.87401

#### Realocate: para mudar ordem das colunas

In [ ]:
names(starwars)

 [1] "name"       "height"     "mass"       "hair_color" "skin_color"
 [6] "eye_color"  "birth_year" "sex"        "gender"     "homeworld"
[11] "species"    "films"      "vehicles"   "starships"

In [ ]:
# Pegamos o grupo: sex, gender e homeword e jogamos para antes de height
names(
    starwars %>% 
      relocate(sex:homeworld, .before = height)
)

 [1] "name"       "sex"        "gender"     "homeworld"  "height"
 [6] "mass"       "hair_color" "skin_color" "eye_color"  "birth_year"
[11] "species"    "films"      "vehicles"   "starships"

Se eu quisesse pegar 3 colunas e posição não sequenciais e colocá-los em lugares específicos? Teria alguma forma de fazer isso?

In [ ]:
starwars %>% summarise(height = mean(height, na.rm = TRUE))

  height
1 174.358

#### Combinando função com o Pipe

In [ ]:
dim(starwars)

[1] 87 14

In [ ]:
a1 <- group_by(starwars, species, sex);
dim(a1)

[1] 87 14

In [ ]:
a2 <- select(a1, height, mass); dim(a2)

Adding missing grouping variables: `species`, `sex`

[1] 87  4

In [ ]:
a3 <- summarise(a2,
  height = mean(height, na.rm = TRUE),
  mass = mean(mass, na.rm = TRUE)
)
dim(a3)

`summarise()` has grouped output by 'species'. You can override using the `.groups` argument.

[1] 41  4

In [ ]:
# Foi obtido dados sumarizados das espécies por sexo, pegando a altura e o peso dos indivíduos
head(
  summarise(
        select(
          group_by(starwars, species, sex),
          height, mass
              ),
              height = mean(height, na.rm = TRUE),
              mass = mean(mass, na.rm = TRUE)
            )
     )

Adding missing grouping variables: `species`, `sex`

`summarise()` has grouped output by 'species'. You can override using the `.groups` argument.

  species  sex    height mass
1 Aleena   male    79.0   15.00
2 Besalisk male   198.0  102.00
3 Cerean   male   198.0   82.00
4 Chagrian male   196.0     NaN
5 Clawdite female 168.0   55.00
6 Droid    none   131.2   69.75

Podemos sempre tornar o código mais elegante. Aqui o que fizemos é começamos pela **dado: starwars**, depois demos um **group_by** nas **variáveis categóricas** que desejamos sumarizar: **species e sex**. Após, **selecionamos** as **variáveis quantitativas** que iremos sumarizar pela média: **height e mass**. Por fim, usamos **summarise** utilizando as **medidas de média** para **height e mass**, definidas no group_by. Veja:

In [ ]:
starwars %>%
  group_by(species, sex) %>%
    select(height, mass) %>%
      summarise(
        height = mean(height, na.rm = TRUE),
        mass = mean(mass, na.rm = TRUE)
      )

#### Padrões das operações

Há discussão interessantes sobre os padrões das operações, quando por exemplo, damos valor a uma variável e a utilizamos dentro dos operadores. 

A semântica **mutate** é bastante diferente da semântica do **select**. Enquanto select() espera nomes ou posições de coluna, mutate() espera vetores de coluna. 

Essas discussões podem ser vistas neste link:
https://dplyr.tidyverse.org/articles/dplyr.html#patterns-of-operations

In [ ]:
b1 = starwars %>%
        select(name, height, mass, sex, gender, species) %>% 
          slice_head(n=6)
head(b1)

  name           height mass sex    gender    species
1 Luke Skywalker 172     77  male   masculine Human
2 C-3PO          167     75  none   masculine Droid
3 R2-D2           96     32  none   masculine Droid
4 Darth Vader    202    136  male   masculine Human
5 Leia Organa    150     49  female feminine  Human
6 Owen Lars      178    120  male   masculine Human

In [ ]:
group_by(b1, sex)

  name           height mass sex    gender    species
1 Luke Skywalker 172     77  male   masculine Human
2 C-3PO          167     75  none   masculine Droid
3 R2-D2           96     32  none   masculine Droid
4 Darth Vader    202    136  male   masculine Human
5 Leia Organa    150     49  female feminine  Human
6 Owen Lars      178    120  male   masculine Human

In [ ]:
group_by(b1, sex = as.factor(sex))

  name           height mass sex    gender    species
1 Luke Skywalker 172     77  male   masculine Human
2 C-3PO          167     75  none   masculine Droid
3 R2-D2           96     32  none   masculine Droid
4 Darth Vader    202    136  male   masculine Human
5 Leia Organa    150     49  female feminine  Human
6 Owen Lars      178    120  male   masculine Human

In [ ]:
# este é um exemplo de como a função de adequa
group_by(b1, height_binned = cut(height, 3))

  name           height mass sex    gender    species height_binned
1 Luke Skywalker 172     77  male   masculine Human   (167,202]
2 C-3PO          167     75  none   masculine Droid   (167,202]
3 R2-D2           96     32  none   masculine Droid   (95.9,131]
4 Darth Vader    202    136  male   masculine Human   (167,202]
5 Leia Organa    150     49  female feminine  Human   (131,167]
6 Owen Lars      178    120  male   masculine Human   (167,202]

#### Explicações sobre o GROUP_BY

Explicações melhores sobre esta função group_by:

https://dplyr.tidyverse.org/reference/group_by.html

In [ ]:
data_mtcars <- mtcars; head(data_mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

Interessante que nos dados temos as marcas aparecendo no dataset, como um index. Contudo no gruop_by não aparece.

In [ ]:
by_cyl <- mtcars %>% group_by(cyl)

# o group_by não muda como os dados são mostrados. (além da lista como é agrupado)

head(by_cyl,5)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

In [ ]:
# Há mudanças quando age junto a outro verbo do dplyr:
by_cyl %>% summarise(
  disp = mean(disp),
  hp = mean(hp)
)

  cyl disp     hp
1 4   105.1364  82.63636
2 6   183.3143 122.28571
3 8   353.1000 209.21429

In [ ]:
# Each call to summarise() removes a layer of grouping
by_vs_am <- mtcars %>% group_by(vs, am)

In [ ]:
by_vs <- by_vs_am %>% summarise(n = n())

`summarise()` has grouped output by 'vs'. You can override using the `.groups` argument.

In [ ]:
by_vs

  vs am n
1 0  0  12
2 0  1   6
3 1  0   7
4 1  1   7

In [ ]:
# Utiliza o primeiro argumento de group_by para fazer o summarise novamente
by_vs %>% summarise(n = sum(n))

  vs n
1 0  18
2 1  14

In [ ]:
# To removing grouping, use ungroup
by_vs %>%
  ungroup() %>%
  summarise(n = sum(n))

  n
1 32

In [ ]:
# Por default, group_by() substitui os grupos existentes anteriormente
by_cyl %>%
  group_by(vs, am) %>%
  group_vars()

[1] "vs" "am"

In [ ]:
# Use add = TRUE para apensar novos grupos
by_cyl %>%
  group_by(vs, am, .add = TRUE) %>%
  group_vars()
# o grupo cyl já estava no grupo by e agora foi apensado mais dois grupos

[1] "cyl" "vs"  "am"

In [ ]:
by_vs <- by_cyl %>% summarise(n = n()); by_vs

  cyl n
1 4   11
2 6    7
3 8   14

In [ ]:
# when factors are involved and .drop = FALSE, groups can be empty
tbl <- tibble(
  x = 1:10,
  y = factor(rep(c("a", "c"), each  = 5), levels = c("a", "b", "c"))
)

In [ ]:
tbl

   x  y
1   1 a
2   2 a
3   3 a
4   4 a
5   5 a
6   6 c
7   7 c
8   8 c
9   9 c
10 10 c

In [ ]:
tbl %>%
  group_by(y, .drop = FALSE) %>%
    group_rows()

<list_of<integer>[3]>
[[1]]
[1] 1 2 3 4 5

[[2]]
integer(0)

[[3]]
[1]  6  7  8  9 10

In [ ]:
tbl %>%
  group_by(y, .drop = FALSE)

   x  y
1   1 a
2   2 a
3   3 a
4   4 a
5   5 a
6   6 c
7   7 c
8   8 c
9   9 c
10 10 c

In [ ]:
tbl %>%
  group_by(y, .drop = FALSE) %>%
    summarise(tot = sum(x))

  y tot
1 a 15
2 b  0
3 c 40

In [ ]:
tbl %>%
  group_by(y, .drop = TRUE) %>%
    summarise(tot = sum(x))

  y tot
1 a 15
2 c 40

A diferença do TRUE para FALSE é retirar as linhas que ficam nulas.

### Juntando duas bases

Fonte: https://dplyr.tidyverse.org/reference/join.html
Fonte: https://rpubs.com/williamsurles/

These are generic functions that dispatch to individual tbl methods - see the method documentation for details of individual data sources. x and y should usually be from the same data source, but if copy is TRUE, y will automatically be copied to the same source as x.



```
inner_join(x, y, by = NULL, copy = FALSE, suffix = c(".x", ".y"),
  ...)

left_join(x, y, by = NULL, copy = FALSE, suffix = c(".x", ".y"), ...)

right_join(x, y, by = NULL, copy = FALSE, suffix = c(".x", ".y"),
  ...)

full_join(x, y, by = NULL, copy = FALSE, suffix = c(".x", ".y"), ...)

semi_join(x, y, by = NULL, copy = FALSE, ...)

nest_join(x, y, by = NULL, copy = FALSE, keep = FALSE, name = NULL,
  ...)

anti_join(x, y, by = NULL, copy = FALSE, ...)
```

![download.png]()

**Vamos começar usando a base de dados sobre bandas**

#### Tabelas Básicas

Vamos estudos os 4 tipos básicos de relacionamento de tabelas:


*   Inner join: intersecção das tabelas
*   Left join: tabela fato + tabela apoio
*   Right join: tabela apoio + tabela fato
*   Full join: junção completa de tabelas

In [ ]:
band_members

  name band
1 Mick Stones
2 John Beatles
3 Paul Beatles

In [ ]:
band_instruments

  name  plays
1 John  guitar
2 Paul  bass
3 Keith guitar

##### Inner Join

Vamos começar com Inner Join. O que ele faz? Traz as informações comuns nas duas tabelas.

O que espera que aconteça com Inner Join aqui?
R.: Trara apenas John e Paul, já que são os elementos comuns das duas colunas chaves.

In [ ]:
band_members %>% inner_join(band_instruments)

Joining, by = "name"

  name band    plays
1 John Beatles guitar
2 Paul Beatles bass

##### Left Join

No left case é como se fosse um PROCV do excel. Ele faz a procura pelo tabela "band_members" (left) e procura as informações "band_instruments" (right). Veja:

In [ ]:
band_members %>% left_join(band_instruments)

Joining, by = "name"

  name band    plays
1 Mick Stones  NA
2 John Beatles guitar
3 Paul Beatles bass

##### Right Join

A lógica do right join semelhante com o LEFT JOIN porém usando a tabela da direita como referência, invés da esquerda.

In [ ]:
band_members %>% right_join(band_instruments)

Joining, by = "name"

  name  band    plays
1 John  Beatles guitar
2 Paul  Beatles bass
3 Keith NA      guitar

##### Full Join

A lógica aqui é a seguinte. Imagine que tenha duas tabelas com nome do funcionários e seus telefones. Outra tabela que possui nome dos funcionário e voluntários e seus endereços. Quero juntar toda a tabela numa só com os 3 campos. Aqueles campos que não possuirem correspondência ficaram com valores nulos.

In [ ]:
band_members %>% full_join(band_instruments)

Joining, by = "name"

  name  band    plays
1 Mick  Stones  NA
2 John  Beatles guitar
3 Paul  Beatles bass
4 Keith NA      guitar

#### Tabelas Especiais

Há 4 operações especiais em tabelas que são importantes de ser apreendidas. 

* Semi Join
* Anti Join
* Nest Join
* Chaves diferentes

##### Semi Join

In [ ]:
# "Filtering" joins keep cases from the LHS
band_members %>% semi_join(band_instruments)

Joining, by = "name"

  name band
1 John Beatles
2 Paul Beatles

semi join retorna todas as linhas de x onde há valores correspondentes em y, mantendo apenas as colunas de x. Uma semi-junção difere de uma Inner Join porque este retornará uma linha de x para cada linha correspondente de y, onde uma semi-junção nunca duplicará linhas de x.

##### Anti Join

In [ ]:
band_members %>% anti_join(band_instruments)

Joining, by = "name"

  name band
1 Mick Stones

##### Nest Join ???

In [ ]:
# "Nesting" joins keep cases from the LHS and nests the RHS
band_members %>% nest_join(band_instruments) #Não entendi muito bem

Joining, by = "name"

  name band    band_instruments
1 Mick Stones
2 John Beatles guitar
3 Paul Beatles bass

In [ ]:
# To suppress the message, supply by
band_members %>% inner_join(band_instruments, by = "name")

  name band    plays
1 John Beatles guitar
2 Paul Beatles bass

##### Chaves diferentes

Join em colunas com nomes diferentes

In [ ]:
band_members

  name band
1 Mick Stones
2 John Beatles
3 Paul Beatles

In [ ]:
band_instruments2

  artist plays
1 John   guitar
2 Paul   bass
3 Keith  guitar

In [ ]:
# Use a named `by` if the join variables have different names
band_members %>% full_join(band_instruments2, by = c("name" = "artist"))

  name  band    plays
1 Mick  Stones  NA
2 John  Beatles guitar
3 Paul  Beatles bass
4 Keith NA      guitar

### Estudo com tabelas maiores

Variations on joins
* **left_join** - prioritizes left dataset
* **right_join** - prioritizes right dataset
* **inner_join** - only retains rows in both datasets
* **full_join** - retains all rows
* **Use %>% (pipes)** to string together these joins


Fonte: https://rpubs.com/williamsurles/293454

Fonte:
https://rpubs.com/jonathan-keith/360527

Fonte: https://campus.datacamp.com/courses/joining-data-with-dplyr/joining-tables-1?ex=1

Livro: https://r4ds.had.co.nz/r-markdown.html

Cheat Sheet: https://rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf

In [ ]:
##### Criando base de dados

Site para obter as tabelas abaixo:

Fonte: https://rstudio-pubs-static.s3.amazonaws.com/480907_19b810455f274054b92be7fa91b12cae.html#whats-covered

In [ ]:
artistsKH <- tibble(first = c("Jimmy", "George", "Mick", "Tom", "Davy", "John", "Paul", "Jimmy", "Joe", "Elvis", "Keith", "Paul", "Ringo", "Joe", "Brian", "Nancy"), last = c("Buffett", "Harrison", "Jagger", "Jones", "Jones", "Lennon", "McCartney", "Page", "Perry", "Presley", "Richards", "Simon", "Starr", "Walsh", "Wilson", "Wilson"), instrument = c("Guitar", "Guitar", "Vocals", "Vocals", "Vocals", "Guitar", "Bass", "Guitar", "Guitar", "Vocals", "Guitar", "Guitar", "Drums", "Guitar", "Vocals", "Vocals"))

# artistsKH == artists - verified in line with what was given
artists <- artistsKH
artists

   first  last      instrument
1  Jimmy  Buffett   Guitar
2  George Harrison  Guitar
3  Mick   Jagger    Vocals
4  Tom    Jones     Vocals
5  Davy   Jones     Vocals
6  John   Lennon    Guitar
7  Paul   McCartney Bass
8  Jimmy  Page      Guitar
9  Joe    Perry     Guitar
10 Elvis  Presley   Vocals
11 Keith  Richards  Guitar
12 Paul   Simon     Guitar
13 Ringo  Starr     Drums
14 Joe    Walsh     Guitar
15 Brian  Wilson    Vocals
16 Nancy  Wilson    Vocals

In [ ]:
bandsKH <- tibble(first = c("John", "John Paul", "Jimmy", "Robert", "George", "John", "Paul", "Ringo", "Jimmy", "Mick", "Keith", "Charlie", "Ronnie"), last = c("Bonham", "Jones", "Page", "Plant", "Harrison", "Lennon", "McCartney", "Starr", "Buffett", "Jagger", "Richards", "Watts", "Wood"), band = c("Led Zeppelin", "Led Zeppelin", "Led Zeppelin", "Led Zeppelin", "The Beatles", "The Beatles", "The Beatles", "The Beatles", "The Coral Reefers", "The Rolling Stones", "The Rolling Stones", "The Rolling Stones", "The Rolling Stones"))

# bandsKH == bands - verified in line with what was given
bands <- bandsKH
bands

   first     last      band
1  John      Bonham    Led Zeppelin
2  John Paul Jones     Led Zeppelin
3  Jimmy     Page      Led Zeppelin
4  Robert    Plant     Led Zeppelin
5  George    Harrison  The Beatles
6  John      Lennon    The Beatles
7  Paul      McCartney The Beatles
8  Ringo     Starr     The Beatles
9  Jimmy     Buffett   The Coral Reefers
10 Mick      Jagger    The Rolling Stones
11 Keith     Richards  The Rolling Stones
12 Charlie   Watts     The Rolling Stones
13 Ronnie    Wood      The Rolling Stones

In [ ]:
albumsKH <- tibble(
                album = c("A Hard Day's Night", "Magical Mystery Tour", "Beggar's Banquet", "Abbey Road", "Led Zeppelin IV", "The Dark Side of the Moon", "Aerosmith", "Rumours", "Hotel California"),
                 band = c("The Beatles", "The Beatles", "The Rolling Stones", "The Beatles", "Led Zeppelin", "Pink Floyd", "Aerosmith", "Fleetwood Mac", "Eagles"), 
                 year = c(1964,1967,1968,1969,1971,1973,1973,1977,1982)
                 )

# albumsKH == albums - verified in line with what was given
albums <- albumsKH
albums

  album                     band               year
1 A Hard Day's Night        The Beatles        1964
2 Magical Mystery Tour      The Beatles        1967
3 Beggar's Banquet          The Rolling Stones 1968
4 Abbey Road                The Beatles        1969
5 Led Zeppelin IV           Led Zeppelin       1971
6 The Dark Side of the Moon Pink Floyd         1973
7 Aerosmith                 Aerosmith          1973
8 Rumours                   Fleetwood Mac      1977
9 Hotel California          Eagles             1982

In [ ]:
songsKH <- tibble(
                 song = c("Come Together", "Dream On", "Hello, Goodbye", "It's Not Unusual"),
                 album  = c("Abbey Road", "Aerosmith", "Magical Mystery Tour", "Along Came Jones"), 
                 first = c("John", "Steven", "Paul", "Tom"), 
                 last = c("Lennon", "Tyler", "McCartney", "Jones")
                 )

# songsKH == songs - verified in line with what was given
songs <- songsKH
songs

  song             album                first  last
1 Come Together    Abbey Road           John   Lennon
2 Dream On         Aerosmith            Steven Tyler
3 Hello, Goodbye   Magical Mystery Tour Paul   McCartney
4 It's Not Unusual Along Came Jones     Tom    Jones

##### Left Join: usando duas variáveis como chave única

In [ ]:
# Quero fazer cruzamento com nome e sobrenome, por isso utilizo first e last como chaves de cruzamento
bands2 <- left_join(bands, artists, by = c('first','last'))

# Examine the results
head(bands2)

  first     last     band         instrument
1 John      Bonham   Led Zeppelin NA
2 John Paul Jones    Led Zeppelin NA
3 Jimmy     Page     Led Zeppelin Guitar
4 Robert    Plant    Led Zeppelin NA
5 George    Harrison The Beatles  Guitar
6 John      Lennon   The Beatles  Guitar

In [ ]:
# Observe se só utilizasse o first, os problemas que teria:

# Complete the code to join artists to bands
bands3 <- left_join(bands, artists, by = 'first')

# Examine the results
bands3

   first     last.x    band               last.y    instrument
1  John      Bonham    Led Zeppelin       Lennon    Guitar
2  John Paul Jones     Led Zeppelin       NA        NA
3  Jimmy     Page      Led Zeppelin       Buffett   Guitar
4  Jimmy     Page      Led Zeppelin       Page      Guitar
5  Robert    Plant     Led Zeppelin       NA        NA
6  George    Harrison  The Beatles        Harrison  Guitar
7  John      Lennon    The Beatles        Lennon    Guitar
8  Paul      McCartney The Beatles        McCartney Bass
9  Paul      McCartney The Beatles        Simon     Guitar
10 Ringo     Starr     The Beatles        Starr     Drums
11 Jimmy     Buffett   The Coral Reefers  Buffett   Guitar
12 Jimmy     Buffett   The Coral Reefers  Page      Guitar
13 Mick      Jagger    The Rolling Stones Jagger    Vocals
14 Keith     Richards  The Rolling Stones Richards  Guitar
15 Charlie   Watts     The Rolling Stones NA        NA
16 Ronnie    Wood      The Rolling Stones NA        NA

Obsever que quando utilizo apenas o nome como chave, quando pego Jimmy, como há no banco de artists Buffet e Page ele duplica a linha para garantir que todos os registros foram feitos. Isso acontece pq a coluna "first" não é de fato uma chave única.

##### Inner Join

In [ ]:
inner_join(songs, albums, by = "album")

  song           album                first  last      band        year
1 Come Together  Abbey Road           John   Lennon    The Beatles 1969
2 Dream On       Aerosmith            Steven Tyler     Aerosmith   1973
3 Hello, Goodbye Magical Mystery Tour Paul   McCartney The Beatles 1967

In [ ]:
# Quero a tabela de artistas e juntar como nome da sua banda
full_join(artists, bands, by = c("first","last"))

   first     last      instrument band
1  Jimmy     Buffett   Guitar     The Coral Reefers
2  George    Harrison  Guitar     The Beatles
3  Mick      Jagger    Vocals     The Rolling Stones
4  Tom       Jones     Vocals     NA
5  Davy      Jones     Vocals     NA
6  John      Lennon    Guitar     The Beatles
7  Paul      McCartney Bass       The Beatles
8  Jimmy     Page      Guitar     Led Zeppelin
9  Joe       Perry     Guitar     NA
10 Elvis     Presley   Vocals     NA
11 Keith     Richards  Guitar     The Rolling Stones
12 Paul      Simon     Guitar     NA
13 Ringo     Starr     Drums      The Beatles
14 Joe       Walsh     Guitar     NA
15 Brian     Wilson    Vocals     NA
16 Nancy     Wilson    Vocals     NA
17 John      Bonham    NA         Led Zeppelin
18 John Paul Jones     NA         Led Zeppelin
19 Robert    Plant     NA         Led Zeppelin
20 Charlie   Watts     NA         The Rolling Stones
21 Ronnie    Wood      NA         The Rolling Stones

##### Exercício 1:

Como descubro os artistas que não estão na tabela de artistas, mas estão nas tabela de banda e vice versa?

R.: Posso usar o anti join.

In [ ]:
artists %>% 
  anti_join(bands, by=c("first","last"))

  first last    instrument
1 Tom   Jones   Vocals
2 Davy  Jones   Vocals
3 Joe   Perry   Guitar
4 Elvis Presley Vocals
5 Paul  Simon   Guitar
6 Joe   Walsh   Guitar
7 Brian Wilson  Vocals
8 Nancy Wilson  Vocals

In [ ]:
bands %>% 
  anti_join(artists, by=c("first","last"))

  first     last   band
1 John      Bonham Led Zeppelin
2 John Paul Jones  Led Zeppelin
3 Robert    Plant  Led Zeppelin
4 Charlie   Watts  The Rolling Stones
5 Ronnie    Wood   The Rolling Stones

##### Exercício 2:

Ache o guitarristas das bandas.

In [ ]:
temp <- left_join(bands, artists, by = c("first", "last"))

In [ ]:
temp <- filter(temp, instrument == "Guitar")

In [ ]:
select(temp, first, last, band)

  first  last     band
1 Jimmy  Page     Led Zeppelin
2 George Harrison The Beatles
3 John   Lennon   The Beatles
4 Jimmy  Buffett  The Coral Reefers
5 Keith  Richards The Rolling Stones

Deixe o código mais elegante com pipe

In [ ]:
bands %>% 
  left_join(artists, by = c("first","last")) %>%
  filter(instrument == "Guitar") %>%
  select(first, last, band)

  first  last     band
1 Jimmy  Page     Led Zeppelin
2 George Harrison The Beatles
3 John   Lennon   The Beatles
4 Jimmy  Buffett  The Coral Reefers
5 Keith  Richards The Rolling Stones

##### Exercício 3:

Pratique com pipe e joins

* Examine o conteúdo como seu objetivo.

```
## # A tibble: 3 x 6
##   first      last instrument        band             song
##   <chr>     <chr>      <chr>       <chr>            <chr>
## 1   Tom     Jones     Vocals        <NA> It's Not Unusual
## 2  John    Lennon     Guitar The Beatles    Come Together
## 3  Paul McCartney       Bass The Beatles   Hello, Goodbye
## # ... with 1 more variables: album <chr>
```

In [ ]:
names(artists)

[1] "first"      "last"       "instrument"

In [ ]:
names(bands)

[1] "first" "last"  "band"

In [ ]:
names(songs)

[1] "song"  "album" "first" "last"

In [ ]:
names(albums)

[1] "album" "band"  "year"

O primeiro passo é observar as variáveis em cada um dos bancos de dados. Repare que as três primeiras colunas são as mesmas da tabela artists. A quarta é uma das colunas da tabela bands. Por fim, há a coluna songs da tabela songs.

Observa-se também que a dimensão é 3x6.

In [ ]:
artists %>%
  left_join(bands, by=c('first','last')) %>%
    inner_join(songs, by=c('first','last')) #%>%
#      select(!album)  -> se quisesse tirar a variável album

  first last      instrument band        song             album
1 Tom   Jones     Vocals     NA          It's Not Unusual Along Came Jones
2 John  Lennon    Guitar     The Beatles Come Together    Abbey Road
3 Paul  McCartney Bass       The Beatles Hello, Goodbye   Magical Mystery Tour

##### Juntando tudo

In [ ]:
artists %>%
  full_join(bands, by = c("first","last")) %>%
  full_join(songs, by = c("first","last")) %>%
  full_join(albums, by = c("album", "band"))

   first     last      instrument band               song
1  Jimmy     Buffett   Guitar     The Coral Reefers  NA
2  George    Harrison  Guitar     The Beatles        NA
3  Mick      Jagger    Vocals     The Rolling Stones NA
4  Tom       Jones     Vocals     NA                 It's Not Unusual
5  Davy      Jones     Vocals     NA                 NA
6  John      Lennon    Guitar     The Beatles        Come Together
7  Paul      McCartney Bass       The Beatles        Hello, Goodbye
8  Jimmy     Page      Guitar     Led Zeppelin       NA
9  Joe       Perry     Guitar     NA                 NA
10 Elvis     Presley   Vocals     NA                 NA
11 Keith     Richards  Guitar     The Rolling Stones NA
12 Paul      Simon     Guitar     NA                 NA
13 Ringo     Starr     Drums      The Beatles        NA
14 Joe       Walsh     Guitar     NA                 NA
15 Brian     Wilson    Vocals     NA                 NA
16 Nancy     Wilson    Vocals     NA                 NA
17 John      Bonham    NA         Led Zeppelin       NA
18 John Paul Jones     NA         Led Zeppelin       NA
19 Robert    Plant     NA         Led Zeppelin       NA
20 Charlie   Watts     NA         The Rolling Stones NA
21 Ronnie    Wood      NA         The Rolling Stones NA
22 Steven    Tyler     NA         NA                 Dream On
23 NA        NA        NA         The Beatles        NA
24 NA        NA        NA         The Rolling Stones NA
25 NA        NA        NA         Led Zeppelin       NA
26 NA        NA        NA         Pink Floyd         NA
27 NA        NA        NA         Aerosmith          NA
28 NA        NA        NA         Fleetwood Mac      NA
29 NA        NA        NA         Eagles             NA
   album                     year
1  NA                          NA
2  NA                          NA
3  NA                          NA
4  Along Came Jones            NA
5  NA                          NA
6  Abbey Road                1969
7  Magical Mystery Tour      1967
8  NA                          NA
9  NA                          NA
10 NA                          NA
11 NA                          NA
12 NA                          NA
13 NA                          NA
14 NA                          NA
15 NA                          NA
16 NA                          NA
17 NA                          NA
18 NA                          NA
19 NA                          NA
20 NA                          NA
21 NA                          NA
22 Aerosmith                   NA
23 A Hard Day's Night        1964
24 Beggar's Banquet          1968
25 Led Zeppelin IV           1971
26 The Dark Side of the Moon 1973
27 Aerosmith                 1973
28 Rumours                   1977
29 Hotel California          1982

##### Filtrar junções e definir operações

Filtrar junções retorna uma cópia do conjunto de dados que foi filtrado, não aumentado (como nas junções mutantes)

###### Semi-joins

$Inner_Join

In [ ]:
artists %>% 
  semi_join(songs, by = c("first", "last"))

  first last      instrument
1 Tom   Jones     Vocals
2 John  Lennon    Guitar
3 Paul  McCartney Bass

In [ ]:
artists %>% 
  inner_join(songs, by = c("first", "last"))

  first last      instrument song             album
1 Tom   Jones     Vocals     It's Not Unusual Along Came Jones
2 John  Lennon    Guitar     Come Together    Abbey Road
3 Paul  McCartney Bass       Hello, Goodbye   Magical Mystery Tour

Observe que o comportamento é o mesmo do Inner Join, porém sem trazer as colunas da tabela da esquerda.

In [ ]:
# Create the same result
artists %>% 
  right_join(songs, by = c("first", "last")) %>% 
  filter(!is.na(instrument)) %>% 
  select(first, last, instrument)

  first last      instrument
1 Tom   Jones     Vocals
2 John  Lennon    Guitar
3 Paul  McCartney Bass

In [ ]:
# Quero saber quantos albuns possuem bandas cadastrados
albums %>% 
  semi_join(bands, by = "band") %>%
    nrow()

[1] 5

###### Verificar labes

In [ ]:
labels <- tibble(
  album = c("Abbey Road", "A Hard Days Night", "Magical Mystery Tour", "Led Zeppelin IV", "The Dark Side of the Moon", "Hotel California", "Rumours", "Aerosmith", "Beggar's Banquet"),
  label = c("Apple", "Parlophone", "Parlophone", "Atlantic", "Harvest", "Asylum", "Warner Brothers", "Columbia", "Decca")
)

labels

  album                     label
1 Abbey Road                Apple
2 A Hard Days Night         Parlophone
3 Magical Mystery Tour      Parlophone
4 Led Zeppelin IV           Atlantic
5 The Dark Side of the Moon Harvest
6 Hotel California          Asylum
7 Rumours                   Warner Brothers
8 Aerosmith                 Columbia
9 Beggar's Banquet          Decca

In [ ]:
songs

  song             album                first  last
1 Come Together    Abbey Road           John   Lennon
2 Dream On         Aerosmith            Steven Tyler
3 Hello, Goodbye   Magical Mystery Tour Paul   McCartney
4 It's Not Unusual Along Came Jones     Tom    Jones

In [ ]:
songs %>% 
  # Find the rows of songs that match a row in labels
  semi_join(labels, by = c("album")) #%>% 
  # Number of matches between labels and songs
  #nrow()

  song           album                first  last
1 Come Together  Abbey Road           John   Lennon
2 Dream On       Aerosmith            Steven Tyler
3 Hello, Goodbye Magical Mystery Tour Paul   McCartney

In [ ]:
# Só um album que não bate com o label
songs %>% 
  anti_join(labels, by = c("album"))

  song             album            first last
1 It's Not Unusual Along Came Jones Tom   Jones

##### Mais dados

In [ ]:
aerosmith <- 
    tibble(
        song = c("Make It", "Somebody", "Dream On", "One Way Street", "Mama Kin", "Write me a Letter", "Moving Out", "Walking the Dog"),
        length = c(13260, 13500, 16080, 25200, 15900, 15060, 18180, 11520)
    )

In [ ]:
greatest_hits <- 
      tibble(
            song = c("Dream On", "Mama Kin", "Same Old Song and Dance", "Seasons of Winter", "Sweet Emotion", "Walk this Way", "Big Ten Inch Record", "Last Child", "Back in the Saddle", "Draw the Line", "Kings and Queens", "Come Together", "Remember (Walking in the Sand)", "Lightning Strikes", "Chip Away the Stone", "Sweet Emotion (remix)", "One Way Street (live)"),
            length = c(16080, 16020, 11040, 17820, 11700, 12780, 8100, 12480, 16860, 12240, 13680, 13620, 14700, 16080, 14460, 16560, 24000)
                       )

In [ ]:
live <- 
      tibble(
            song = c("Back in the Saddle", " Sweet Emotion", "   Lord of the Thighs", "  Toys in the Attic", "   Last Child", "  Come Together", "   Walk this Way", "   Sick as a Dog", "   Dream On", "    Chip Away the Stone", " Sight for Sore Eyes", " Mama Kin", "    S.O.S. (Too Bad)", "    I Ain't Got You", " Mother Popcorn/Draw the Line", "    Train Kept A-Rollin'/Strangers in the Night"),
            length = c(15900,    16920,  26280,  13500,  12240,  17460,  13560,  16920,  16260,  15120,  11880,  13380,  9960,   14220,  41700,  17460)
            )

##### Operação de base de dados

* **union** irá retornar todas as linhas que aparecem em um ou mais dos conjuntos de dados
   * Se uma linha aparecer várias vezes, o union a retornará apenas uma vez
* **interesect** retornará apenas as linhas que aparecem em ambos os conjuntos de dados
* **setdiff** retornará as linhas que aparecem no primeiro conjunto de dados, mas não no segundo

Observe que essa operação é de junção de duas bases com variáveis semelhantes. Imagine que recebeu uma base no dia 20 e dia 25 recebeu o restante dos dados e quer agregá-los ou ver a diferença entre eles. A ideia aqui não é tabelas com informações em colunas de forma complementar.

![download.png]()

In [ ]:
# Quero unir a base de músicas da tabela aerosmith com os greatest_hits da banda.
aerosmith %>%
  union(greatest_hits) %>% 
   nrow()

[1] 24

In [ ]:
# Quero saber dentro das músicas que estão em greatest_hit
aerosmith %>%
  intersect(greatest_hits)

  song     length
1 Dream On 16080

In [ ]:
# Selecione as músicas que foram tocadas ao vivo
live_songs <-
  live %>% 
    select(song)

In [ ]:
# Selecionar as músicas do greatest hits
greatest_songs <- 
  greatest_hits %>% 
    select(song)

In [ ]:
# Create the new dataset using a set operation
live_songs %>%
  setdiff(greatest_songs)

   song
1   Sweet Emotion
2     Lord of the Thighs
3    Toys in the Attic
4     Last Child
5    Come Together
6     Walk this Way
7     Sick as a Dog
8     Dream On
9      Chip Away the Stone
10  Sight for Sore Eyes
11  Mama Kin
12     S.O.S. (Too Bad)
13     I Ain't Got You
14  Mother Popcorn/Draw the Line
15     Train Kept A-Rollin'/Strangers in the Night

##### Comparando datasets

É comum querer saber se um conjunto de dados é igual a outro conjunto de dados 

* **Setequal** de dplyr fará isso facilmente. 
* A **base R** idêntica só retornará verdadeiro se os conjuntos de dados tiverem exatamente as mesmas linhas na mesma ordem.

In [ ]:
head(aerosmith)

  song              length
1 Make It           13260
2 Somebody          13500
3 Dream On          16080
4 One Way Street    25200
5 Mama Kin          15900
6 Write me a Letter 15060

In [ ]:
aerosmith_order <- 
  aerosmith %>% 
    arrange(song)

aerosmith_order

  song              length
1 Dream On          16080
2 Make It           13260
3 Mama Kin          15900
4 Moving Out        18180
5 One Way Street    25200
6 Somebody          13500
7 Walking the Dog   11520
8 Write me a Letter 15060

In [ ]:
# Comparando aerosmith e aerosmith_order
setequal(aerosmith, aerosmith_order)

[1] TRUE

Ou seja, a ordem não muda as duas variáveis.

In [ ]:
# Identical que é do pacote base do R não faz o mesmo
identical(aerosmith, aerosmith_order)

[1] FALSE

In [ ]:
identical(aerosmith, aerosmith)

[1] TRUE

##### Assembring data

Base R binds
* rbind, cbind

dplyr binds
* bind_rows, bind_cols